/* TablaVirtualizada Styles */

.tabla-virtualizada-container {
  background-color: var(--color-background);
}

.tabla-virtualizada-header {
  display: flex;
}

.tabla-virtualizada-header-cell {
  text-align: start;
}

.tabla-virtualizada-header-cell.center {
  text-align: center;
}

.tabla-virtualizada-row {
  transition: background-color 0.2s;
}

.tabla-virtualizada-row.clickable {
  cursor: pointer;
}

.tabla-virtualizada-row.clickable:hover {
  background-color: var(--gray-2);
}

.tabla-virtualizada-cell {
  text-align: start;
}

.tabla-virtualizada-cell.center {
  text-align: center;
}
